services:
  postgres:
    image: postgres:17.5
    container_name: dealsniper-db
    ports:
      - '5432:5432'
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    mem_limit: 512m
    cpus: 0.5
    profiles:
      - dev
      - prod
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: dealsniper-pgadmin
    ports:
      - '5080:80'
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    depends_on:
      - postgres
    mem_limit: 256m
    cpus: 0.3
    profiles:
      - prod
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  redis:
    image: redis:8.2.0
    container_name: dealsniper-redis
    ports:
      - '6379:6379'
    mem_limit: 256m
    cpus: 0.3
    profiles:
      - dev
      - prod

volumes:
  postgres_data:
  pgadmin_data:
