#Spring/Flyway
spring:
  main:
    banner-mode: false
  flyway:
    enabled: true
    validate-on-migrate: true
    locations:
      - classpath:db/migration
#Database
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
#Email config
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
#Swagger
springdoc:
  swagger-ui:
    path: "/api-doc"
#Security
security:
  saltPrefix: ${PREFIX}
  saltSuffix: ${SUFFIX}
#Application config
app:
  base-url: ${APP_BASE_URL:http://localhost:8080}
  config:
    tasks-per-user: ${USER_TASKS:5}
    thread-max-pool-size: ${POOL_SIZE:20}
    scheduler-hour-interval: ${SCHEDULER_INTERVAL:8}
